  
  - name: print request-license info
    debug: 
      msg: "{{ ansible_local['custom']['license']['clustername'] | type_debug }}"
      
  - name: print request-license info
    debug: 
      msg: "{{ ansible_local['custom']['license']['clustername'] }}"