
- name: update and upgrade software image {{ item['name'] }}
  ansible.builtin.shell: 'chroot /cm/images/{{ item['name'] }} /bin/bash apt update; apt-mark hold nvsm; apt full-upgrade -y'
  args:
    executable: /bin/bash
  register: apt_upgrade_output
  ignore_errors: true
  
- name: show upgrade output
  debug:
    msg: "{{ apt_upgrade_output }}"
