 
- name: Wait for node {{ node['hostname'] }} to be UP
  ansible.builtin.shell: cmsh -c "device status {{ node['hostname'] }}"
  register: result
  until: result.stdout.find("UP") != -1
  retries: 20
  delay: 60

